<footer>
    <hr>
    <div class="kolom">
        © Jelle Dutry 2018<br>      
    </div>
    <div class="kolom">
        ♥
    </div>
    <div class="kolom">
        <a href="https://vimeo.com/jelledutry"><img src="/images/vimeo.png" class="icon"></a>
        <a href="http://facebook.com/jelle.dutry"><img src="/images/facebook.png" class="icon"></a>
        <a href="mailto:jelledy@gmail.com"><img src="/images/mail.png" class="icon"></a>
    </div>
</footer>

</div> <!--end container div-->

</body>